*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin:0;
    width: 100%;
}
.bordred{
    margin: 100px auto;
    width: 50%;
    border: 15px solid #bdc3c7;
    border-radius: 5px;
    padding: 20px;
}
.Article:not(:last-child){
    margin-bottom: 40px;
}
.Article .Date{
    text-transform: uppercase;
    color: #3498db;
    margin-top: 0;
}
.Article h2{
    color: #2c3e50;
}
.Article p:first-of-type{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}